// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use "@angular/material" as mat;
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$TwoLevelsSelection-primary: mat.define-palette(mat.$indigo-palette);
$TwoLevelsSelection-accent: mat.define-palette(
  mat.$pink-palette,
  A200,
  A100,
  A400
);

// The warn palette is optional (defaults to red).
$TwoLevelsSelection-warn: mat.define-palette(mat.$red-palette);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$TwoLevelsSelection-theme: mat.define-light-theme(
  (
    color: (
      primary: $TwoLevelsSelection-primary,
      accent: $TwoLevelsSelection-accent,
      warn: $TwoLevelsSelection-warn,
    ),
  )
);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include mat.all-component-themes($TwoLevelsSelection-theme);

/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

h1 {
  text-align: center;
  font-size: 30px;
  font-weight: bold;
}

.full-width {
  width: 100%;
}
.full-height {
  height: 100%;
}

.half-width {
  width: 50%;
}

.page {
  margin: 2%;
  color: #103060;
  width: 96%;
  height: 96%;
  font-size: 15px;
  background-color: rgb(236, 236, 236);

  .vertical-center {
    height: 200%;
    width: 50%;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .horizontal-center {
    height: 50%;
    width: 100%;
    text-align: center;
    display: flex;
    justify-content: center;
  }
}

.icon-selection-container {
  background-color: white;
  height: 50%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
